$font: "Inter",
sans-serif;
$bg-sand: #ffd89b;
$bg-blue: #19547b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-image: linear-gradient(90deg, $bg-sand, $bg-blue);
}

h1 {
  font-size: 3.75em;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

.search-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#search-city {
  font-size: 1.25em;
  border: 1px solid black;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 1.25rem;
  float: left;
}

#search-btn {
  background-color: white;
  font-size: 1.25em;
  padding: 1.25rem;
  float: left;
  border: 1px solid black;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  /*display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;*/
  display: grid;
  grid-template-columns: auto auto auto;
  width: 60vw;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.current--header {
  //flex-grow: 1;
  grid-column: 1 / span 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background-color: blue;
}

.current--header h2 {
  font-size: 2em;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.current {
  grid-column: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  background-color: red;
}

#now {
  font-size: 1.375em;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
}

#current-temperature {
  font-size: 2.5em;
  padding-top: 0.75rem;
  padding-left: 3rem;
  cursor: pointer;
}

#current-icon {
  display: block;
  width: 8em;
  height: 8em;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.forecasts-section {
  grid-column: 2 / 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
}

.forecast {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: left;
  margin-top: 2rem;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.forecast h3 {
  font-size: 1.25em;
  padding-bottom: 0.625rem;
}

.forecast p {
  font-size: 1.5em;
  padding-top: 0.625rem;
}